@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
body{
    font-family: "Mozilla Text", sans-serif;
    background: url('./images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#clock{
color:beige;
font-size: 40px;
}
div{
background:red;
width: 240px;
padding: 20px 50px;
border-radius: 15px;
text-align: center;
}

